@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh; /* Full viewport height */
  background-color: #ffffff; /* Light background color for contrast */
}

header {
  width: 100%;
  background-color: #ffffff; /* Light background color for the header */
  display: flex;
  align-items: center;
  
}
.logoContaineer{
  padding: 0;
  margin: 0;
  padding-left: 1rem;
}

.logoContaineer img {
  max-height: 25vh; /* Adjust the logo size */
  width: auto;
  margin-left: 1rem;
}

.mainContainer {
  display: flex;
  flex-direction: row;
}

.mainContainer div {
  border: 2px #647906;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem; /* Space between cards */
  padding-top: 10vh;
}

.card {
  background: #ffffff; 
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 200px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover{
  background: #dfd9d9;
  transition: 0.3s ease;
}


.card p {
  font-size: 1.4em;
  color: #555;
}


.form-container {
  background: #ffffff; /* White background for the form */
  width: 100%;
  height: 100vh;
  display: flex;
  margin-left: 4rem;
}

form {
  display: flex;
  flex-direction: column;
}


input {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #007bff; /* Blue background for the button */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nameContact{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 0.5rem;
}

.dateTimeLocation{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 0.5rem;
}
