@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh; /* Full viewport height */
  background-color: #ffffff; /* Light background color for contrast */
}

header {
  width: 100%;
  background-color: #ffffff; /* Light background color for the header */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem 0rem 2rem;
}

header .logoContainer img {
  width: 4rem;
}

header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header ul li {
  margin-left: 20px;
  cursor: pointer;
  font-weight: normal;
}

header ul li:hover {
  text-decoration: underline;
}

header ul li.active {
  font-weight: bold;
}

.logoContaineer{
  padding: 0;
  margin: 0;
  padding-left: 1rem;
}

.logoContaineer img {
  max-height: 25vh; /* Adjust the logo size */
  width: auto;
  margin-left: 1rem;
}

.mainContainer {
  display: flex;
  flex-direction: row;
}

.mainContainer div {
  border: 2px #647906;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem; /* Space between cards */
  padding-top: 10vh;
}

.form-container {
  background: #ffffff; /* White background for the form */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px; /* Add spacing between inputs */
}

button {
  padding: 10px;
  background-color: #007bff; /* Blue background for the button */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nameContact{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 0.5rem;
}

.dateTimeLocation{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 0.5rem;
}


/* styles.css */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background: #f9f9f9;
  width: 250px;
}

.card h3 {
  margin-top: 0;
}

.card p {
  margin: 5px 0;
}

.event-organizer h3, .form-container h3{
  display: flex;
  justify-content: center;
  font-weight: 400;
}
